.newcomer {
  margin-top: 200px;
}

.newcomer__content {
  display: flex;
  justify-content: space-between;
}

.newcomer__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
}

.newcomer__subtitle {
  max-width: 427px;
  margin: 30px 0 60px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}

.newcomer__button {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  padding: 15px 40px;
  background: #FF6E30;
  border-radius: 8px;
  cursor: pointer;
}

.newcomer__button:hover {
  transform: scale(1.1);
  background: #ee7e4f;
}

.newcomer__right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.newcomer__boxs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.newcomer__box {
  max-width: 288px;
  padding: 28px 21px;
}

.newcomer__box:hover {
  background: url(../../../assets/img/popular/masc.svg) no-repeat rgba(40, 48, 54, 0.6);
  /*background-repeat: no-repeat;*/
  background-size: cover;
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.newcomer__header {
  display: flex;
  gap: 30px;
}

.newcomer__box:hover .newcomer__links::before {
  content: url(../../../assets/img/popular/heart_red.png);
  left: 7px;
  bottom: 8px;
  position: absolute;
}

.newcomer__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}

.newcomer__subtext {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);

}

.newcomer__paragraph {
  max-width: 245px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin: 30px 0 30px 0;
}

.newcomer__list {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 0;
}

.newcomer__links {
  display: flex;
  gap: 18px;
}

.newcomer__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  background: #1E252B;
}

.newcomer__box:hover .newcomer__btn {
  padding: 9px 35px;
  background: #FF6E30;
  border-radius: 8px;
  color: #FDF5FF;
  margin: -9px -35px -9px -35px;
}