

.hero {
  margin-top: 77px;
}
.hero__container {
  max-width: 1440px;
}
.hero__content {
  display: flex;
  justify-content: space-between;
}
.hero__left {
  padding: 0 0 0 99px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 110px; */
}
.hero__title {
  max-width: 600px;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
}
.hero__title span {
  color: #FF6E30;
  padding: 0 0 0 0;
}
.hero__subtitle {
  margin: 30px 0 60px 0;
  max-width: 487px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
}
.hero__search {
  position: relative;
  width: 498px;
  height: 64px;
  background-image: url(../../../assets/img/hero/search.svg);
  background-color: #283036;
  background-repeat: no-repeat;
  background-position: bottom 20px left 18px;
  border-radius: 15px;
  color: #FDF5FF;
  padding: 0 0 0 42px;

}
.hero__search::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
  padding: 0 0 0 50px;
}
.hero__submit {
  position: absolute;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 131px;
  height: 48px;
  margin: 8px 0 0 -140px;
  background: #FF6E30;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}
.hero__submit:hover{
  transform: scale(1.1);
  background: #ee7e4f;
}
.hero__img {
  padding: 0 0 30px 0;
  display: flex;
  gap: 20px;
}
.img_hover{
  cursor: pointer;
}
.hero__right img{
  width: 100%;
}
@media (max-width: 830px){
  .hero__right img{
    display: none;
  }
}